.stats {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  padding: 3px 0;
  .stats__stat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .stat__name {
      font-weight: bold;
      font-size: 0.8rem;
    }
  }
}
